!!! 5
head
    script(src='http://code.jquery.com/jquery.js')
    script(language='JavaScript', src='stylesheets/bootstrap/js/bootstrap.js')
    link(href='stylesheets/bootstrap/css/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/bootstrap/css/bootstrap-responsive.css', rel='stylesheet')
    script(src='javascripts/navbar.jquery.js')
    script(src='javascripts/photobrowser/photobrowser.jquery.js')
    title Photobox - Login
    style(type='text/css')
      body {
      background-color: #CCC;
      }

body
  block content

