extends layout

block content
  - each photo_id in photo_ids
    .main_widget
      p
        a(href="/viewpicture/#{photo_id}")
          img(src="/thumbnail/#{photo_id}")

block sidebar
  .sidebar_widget
    h1 Menu
    p
      ul
        li
          a(href='/home') Home

        li
          a(href='/picture/new') New Photo

        li
          a(href='/picture') Browse Photos

        li
          a(href='/logout') Logout
