extends layout

block content
  p #{general_message}

block sidebar
  .widget
    h1 Login
    p
      form(action='/login', method='post')
        label Username:
        input(type='text', name='username')
        label Password:
        input(type='password', name='password')
        input(type='submit', value='Log In')
