extends layout

block content
  .main_widget
    p #{general_message}

block sidebar
  .sidebar_widget
    h1 Login
    p
      form(action='/login', method='post')
        ul
          li
            label Username
            input(type='text', name='username')
          li
            label Password
            input(type='password', name='password')
          li
            input(type='submit', value='Log In')
