extends layout

block content
  .main_widget
    p
      | Welcome to your home page #{username}.



block sidebar
  .sidebar_widget
    h1 Menu
    p
      ul
        li
          a(href='/home') Home

        li
          a(href='/photo/new') New Photo

        li
          a(href='/photo') Browse Photos

        li
          a(href='/logout') Logout

