extends layout

block content
  p
    | Welcome to your home page #{username}.



block sidebar
  .widget
    h1 Menu
    p
      ul
        li
          a(href='/picture/new') New Photo

        li
          a(href='/picture') Browse Photos

        li
          a(href='/logout') Logout

