extends bootstrap_layout

block content
	script(language="JavaScript")
		$(document).ready(function(){
			$("#navigationbar").navbar({get_menu_url: "/navbar_menu", active_item: "Home"});
		});

	#navigationbar

