!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #{header}
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Created by Praphat Xavier Fernandes
