!!!5
html
  head
    title Register
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Welcome to Photobox
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Created by Praphat Xavier Fernandes
