extends layout

block content
  .main_widget
    h1 Upload a Photo
    p
      form(action='/photo/new', method='post', enctype='multipart/form-data')
        ul
          li
            label Photo Title
            input(type="text", name="imageTitle")

          li
            input(type="file", value="Select Photo", name="photoImage")

          li
            input(type='submit', value='Upload')

block sidebar
  .sidebar_widget
    h1 Menu
    p
      ul
        li
          a(href='/home') Home

        li
          a(href='/photo/new') New Photo

        li
          a(href='/photo') Browse Photos

        li
          a(href='/logout') Logout
