extends layout

block content
  p
    div
      img(src="/photo/#{picture_id}", width="490px")

    .picture_title
      em #{picture_title}
    .picture_description
      p
        em #{picture_description}



