extends layout

block content

  .main_widget
    h1 Register
    p
      form(action='/register', method='post')
        ul
          li
            label Username
            input(type='text', name='username')
          li
            label Password
            input(type='password', name='password1')
          li
            label Re-Type
            input(type='password', name='password2')
          li
            input(type='submit', value='Register')

block sidebar
  .sidebar_widget
    h1 Features
    p
     | Photobox allows you to upload photos and browse them at your leisure. Thanks for registering!
      
