@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 50px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #fa5b4d;
  border-bottom: 1px solid #df1806;
  text-shadow: 0px -1px 0px #df1806;
}
.thumbnail_widget {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #fff;
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.thumbnail_widget a {
  text-decoration: none;
}
.edit_widget {
  font-size: 10px;
  display-inline: block;
}
.main_widget {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #faf9f0;
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.main_widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.main_widget p {
  font-size: 17px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.main_widget form {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.main_widget form fieldset {
  margin: 5px 0 0 0;
  padding: 0 0 0 0;
}
.main_widget form label {
  margin: 5px 0 0 0;
  font-size: 13px;
  width: 65px;
  display: inline-block;
  text-align: right;
  padding-right: 5px;
}
.main_widget a {
  text-decoration: none;
  color: #444;
}
.main_widget ul {
  font-size: 15px;
  padding: 0px 10px;
  margin-bottom: 10px;
  list-style-type: none;
}
.main_widget ul li {
  padding-left: 0px;
}
.container {
  width: 500px;
  margin: 50px auto;
  overflow: hidden;
}
.main-content {
  float: left;
  width: 300px;
}
.main-content p {
  margin-bottom: 20px;
}
.main-content ul {
  list-style-type: none;
}
.main-content ul form {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.sidebar {
  float: left;
  width: 200px;
}
.sidebar .sidebar_widget {
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-left: 20px;
  background-color: #faf9f0;
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,0.8), 0px 3px 0px -2px rgba(0,0,0,0.1);
}
.sidebar .sidebar_widget h1 {
  font-family: 'Quicksand';
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 10px;
}
.sidebar .sidebar_widget p {
  font-size: 13px;
  padding: 0px 10px;
  margin-bottom: 10px;
}
.sidebar .sidebar_widget form {
  font-size: 13px;
  padding: 0px 0px;
  margin-bottom: 0px;
}
.sidebar .sidebar_widget form fieldset {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.sidebar .sidebar_widget form label {
  margin: 5px 0 0 0;
  font-size: 13px;
  display: inline-block;
  padding-left: 2px;
}
.sidebar .sidebar_widget form ul {
  font-size: 15px;
  padding: 0px 10px;
  margin-bottom: 10px;
  list-style-type: none;
}
.sidebar .sidebar_widget form ul li {
  padding-left: 0px;
}
.sidebar .sidebar_widget ul {
  font-size: 15px;
  padding: 0px 10px;
  margin-bottom: 10px;
  list-style-type: none;
}
.sidebar .sidebar_widget ul li {
  padding-left: 0px;
}
.sidebar .sidebar_widget a {
  text-decoration: none;
  color: #444;
}
p {
  line-height: 1.8;
}
footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
